<table><tbody>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">1</td>
<td class="asset-table-td">DESKTOP-0001</td>
<td class="asset-table-td">193.186.4.132</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/window_logo.png" alt="" class="asset-os-icon" />Window</span></td>
<td class="asset-table-td">11 Pro</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">수원사업장</td>
<td class="asset-table-td">MX</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong<br>솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">HQ-1F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">개발</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong<br>솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">IRP-001</td>
<td class="asset-table-td">2022</td>
<td class="asset-table-td">2026-02-06 14:30</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">2</td>
<td class="asset-table-td">DESKTOP-0002</td>
<td class="asset-table-td">193.186.4.133</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/window_logo.png" alt="" class="asset-os-icon" />Window</span></td>
<td class="asset-table-td">11 Pro</td>
<td class="asset-table-td">No</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">수원사업장</td>
<td class="asset-table-td">-</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">HQ-2F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">운영</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="인프라팀 / 홍길동 / H.Gildong">인프라팀 / 홍길동 / H.Gildong<br>솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">IRP-002</td>
<td class="asset-table-td">2023</td>
<td class="asset-table-td">2026-02-05 11:20</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">3</td>
<td class="asset-table-td">DESKTOP-0003</td>
<td class="asset-table-td">193.186.4.134</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/window_logo.png" alt="" class="asset-os-icon" />Window</span></td>
<td class="asset-table-td">11 Pro</td>
<td class="asset-table-td">No</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">수원사업장</td>
<td class="asset-table-td">MX</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong<br>솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">HQ-3F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">개발</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">IRP-003</td>
<td class="asset-table-td">2022</td>
<td class="asset-table-td">2026-02-04 09:15</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">4</td>
<td class="asset-table-td">DESKTOP-0004</td>
<td class="asset-table-td">193.186.4.135</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/window_logo.png" alt="" class="asset-os-icon" />Window</span></td>
<td class="asset-table-td">10 Pro</td>
<td class="asset-table-td">No</td>
<td class="asset-table-td"><span class="region-badge region-badge-overseas">해외</span></td>
<td class="asset-table-td">중남미</td>
<td class="asset-table-td">-</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="웹개발팀 / 김철수 / H.Gildong">웹개발팀 / 김철수 / H.Gildong</div></td>
<td class="asset-table-td">HQ-4F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">테스트</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="웹개발팀 / 김철수 / H.Gildong">웹개발팀 / 김철수 / H.Gildong<br>솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">IRP-004</td>
<td class="asset-table-td">2024</td>
<td class="asset-table-td">2026-02-03 16:00</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">5</td>
<td class="asset-table-td">DESKTOP-0005</td>
<td class="asset-table-td">193.186.4.136</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/Linux_logo.png" alt="" class="asset-os-icon" />Linux</span></td>
<td class="asset-table-td">RedHat 1.0.2</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">구미사업장</td>
<td class="asset-table-td">-</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">HQ-5F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">운영</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong<br>솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">IRP-005</td>
<td class="asset-table-td">2021</td>
<td class="asset-table-td">2026-02-02 10:45</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">6</td>
<td class="asset-table-td">DESKTOP-0006</td>
<td class="asset-table-td">193.186.4.137</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/Linux_logo.png" alt="" class="asset-os-icon" />Linux</span></td>
<td class="asset-table-td">Ubuntu 2.3</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-overseas">해외</span></td>
<td class="asset-table-td">중동</td>
<td class="asset-table-td">-</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong<br>솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">HQ-6F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">개발</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">IRP-006</td>
<td class="asset-table-td">2023</td>
<td class="asset-table-td">2026-02-01 14:20</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">7</td>
<td class="asset-table-td">DESKTOP-0007</td>
<td class="asset-table-td">193.186.4.138</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/Oracle_logo.png" alt="" class="asset-os-icon" />Solaris</span></td>
<td class="asset-table-td">11.4</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">구미사업장</td>
<td class="asset-table-td">MX</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="미들웨어팀 / 김기영 / K.Kim">미들웨어팀 / 김기영 / K.Kim</div></td>
<td class="asset-table-td">HQ-7F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">운영</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="미들웨어팀 / 김기영 / K.Kim">미들웨어팀 / 김기영 / K.Kim<br>솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">IRP-007</td>
<td class="asset-table-td">2022</td>
<td class="asset-table-td">2026-01-31 09:00</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">8</td>
<td class="asset-table-td">DESKTOP-0008</td>
<td class="asset-table-td">193.186.4.139</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/AIX_logo.png" alt="" class="asset-os-icon" />AIX</span></td>
<td class="asset-table-td">AIX 7.3 TL2</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-overseas">해외</span></td>
<td class="asset-table-td">동남아</td>
<td class="asset-table-td">-</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">HQ-8F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">개발</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 홍길동 / H.Gildong">솔루션개발그룹 / 홍길동 / H.Gildong</div></td>
<td class="asset-table-td">IRP-008</td>
<td class="asset-table-td">2024</td>
<td class="asset-table-td">2026-01-30 17:30</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">9</td>
<td class="asset-table-td">DESKTOP-0009</td>
<td class="asset-table-td">193.186.4.140</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/window_logo.png" alt="" class="asset-os-icon" />Window</span></td>
<td class="asset-table-td">11 Pro</td>
<td class="asset-table-td">No</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">수원사업장</td>
<td class="asset-table-td">MX</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="웹개발팀 / 이영희 / Y.Lee">웹개발팀 / 이영희 / Y.Lee</div></td>
<td class="asset-table-td">HQ-1F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">개발</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="웹개발팀 / 이영희 / Y.Lee">웹개발팀 / 이영희 / Y.Lee</div></td>
<td class="asset-table-td">IRP-009</td>
<td class="asset-table-td">2023</td>
<td class="asset-table-td">2026-01-29 11:15</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">10</td>
<td class="asset-table-td">DESKTOP-0010</td>
<td class="asset-table-td">193.186.4.141</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/Linux_logo.png" alt="" class="asset-os-icon" />Linux</span></td>
<td class="asset-table-td">CentOS 7.9</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-overseas">해외</span></td>
<td class="asset-table-td">중동</td>
<td class="asset-table-td">-</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="인프라팀 / 박준호 / J.Park">인프라팀 / 박준호 / J.Park</div></td>
<td class="asset-table-td">HQ-2F</td>
<td class="asset-table-td">MES</td>
<td class="asset-table-td">운영</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="인프라팀 / 박준호 / J.Park">인프라팀 / 박준호 / J.Park</div></td>
<td class="asset-table-td">IRP-010</td>
<td class="asset-table-td">2022</td>
<td class="asset-table-td">2026-01-28 15:45</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">11</td>
<td class="asset-table-td">DESKTOP-0011</td>
<td class="asset-table-td">193.186.4.142</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/window_logo.png" alt="" class="asset-os-icon" />Window</span></td>
<td class="asset-table-td">10 Pro</td>
<td class="asset-table-td">No</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">구미사업장</td>
<td class="asset-table-td">MX</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 최민수 / M.Choi">솔루션개발그룹 / 최민수 / M.Choi</div></td>
<td class="asset-table-td">HQ-3F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">테스트</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 최민수 / M.Choi">솔루션개발그룹 / 최민수 / M.Choi</div></td>
<td class="asset-table-td">IRP-011</td>
<td class="asset-table-td">2021</td>
<td class="asset-table-td">2026-01-27 10:20</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">12</td>
<td class="asset-table-td">DESKTOP-0012</td>
<td class="asset-table-td">193.186.4.143</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/Oracle_logo.png" alt="" class="asset-os-icon" />Solaris</span></td>
<td class="asset-table-td">11.4</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-overseas">해외</span></td>
<td class="asset-table-td">동남아</td>
<td class="asset-table-td">-</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="미들웨어팀 / 정수진 / S.Jung">미들웨어팀 / 정수진 / S.Jung</div></td>
<td class="asset-table-td">HQ-4F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">운영</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="미들웨어팀 / 정수진 / S.Jung">미들웨어팀 / 정수진 / S.Jung</div></td>
<td class="asset-table-td">IRP-012</td>
<td class="asset-table-td">2020</td>
<td class="asset-table-td">2026-01-26 14:00</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">13</td>
<td class="asset-table-td">DESKTOP-0013</td>
<td class="asset-table-td">193.186.4.144</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/Linux_logo.png" alt="" class="asset-os-icon" />Linux</span></td>
<td class="asset-table-td">Ubuntu 22.04</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">수원사업장</td>
<td class="asset-table-td">MX</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="웹개발팀 / 한지우 / J.Han">웹개발팀 / 한지우 / J.Han</div></td>
<td class="asset-table-td">HQ-5F</td>
<td class="asset-table-td">CRM</td>
<td class="asset-table-td">개발</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="웹개발팀 / 한지우 / J.Han">웹개발팀 / 한지우 / J.Han</div></td>
<td class="asset-table-td">IRP-013</td>
<td class="asset-table-td">2024</td>
<td class="asset-table-td">2026-01-25 09:30</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">14</td>
<td class="asset-table-td">DESKTOP-0014</td>
<td class="asset-table-td">193.186.4.145</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/window_logo.png" alt="" class="asset-os-icon" />Window</span></td>
<td class="asset-table-td">11 Pro</td>
<td class="asset-table-td">No</td>
<td class="asset-table-td"><span class="region-badge region-badge-overseas">해외</span></td>
<td class="asset-table-td">중남미</td>
<td class="asset-table-td">-</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="인프라팀 / 오서연 / S.Oh">인프라팀 / 오서연 / S.Oh</div></td>
<td class="asset-table-td">HQ-6F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">운영</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="인프라팀 / 오서연 / S.Oh">인프라팀 / 오서연 / S.Oh</div></td>
<td class="asset-table-td">IRP-014</td>
<td class="asset-table-td">2023</td>
<td class="asset-table-td">2026-01-24 16:45</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">15</td>
<td class="asset-table-td">DESKTOP-0015</td>
<td class="asset-table-td">193.186.4.146</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/window_logo.png" alt="" class="asset-os-icon" />Window</span></td>
<td class="asset-table-td">11 Pro</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">수원사업장</td>
<td class="asset-table-td">MX</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 윤도현 / D.Yoon">솔루션개발그룹 / 윤도현 / D.Yoon</div></td>
<td class="asset-table-td">HQ-1F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">테스트</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="솔루션개발그룹 / 윤도현 / D.Yoon">솔루션개발그룹 / 윤도현 / D.Yoon</div></td>
<td class="asset-table-td">IRP-015</td>
<td class="asset-table-td">2022</td>
<td class="asset-table-td">2026-01-23 11:00</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">16</td>
<td class="asset-table-td">DESKTOP-0016</td>
<td class="asset-table-td">193.186.4.147</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/Linux_logo.png" alt="" class="asset-os-icon" />Linux</span></td>
<td class="asset-table-td">RHEL 8.6</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">구미사업장</td>
<td class="asset-table-td">-</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="미들웨어팀 / 강민지 / M.Kang">미들웨어팀 / 강민지 / M.Kang</div></td>
<td class="asset-table-td">HQ-2F</td>
<td class="asset-table-td">MES</td>
<td class="asset-table-td">개발</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="미들웨어팀 / 강민지 / M.Kang">미들웨어팀 / 강민지 / M.Kang</div></td>
<td class="asset-table-td">IRP-016</td>
<td class="asset-table-td">2021</td>
<td class="asset-table-td">2026-01-22 14:20</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">17</td>
<td class="asset-table-td">DESKTOP-0017</td>
<td class="asset-table-td">193.186.4.148</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/Oracle_logo.png" alt="" class="asset-os-icon" />Solaris</span></td>
<td class="asset-table-td">11.3</td>
<td class="asset-table-td">No</td>
<td class="asset-table-td"><span class="region-badge region-badge-overseas">해외</span></td>
<td class="asset-table-td">중동</td>
<td class="asset-table-td">MX</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="웹개발팀 / 조현우 / H.Jo">웹개발팀 / 조현우 / H.Jo</div></td>
<td class="asset-table-td">HQ-7F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">운영</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="웹개발팀 / 조현우 / H.Jo">웹개발팀 / 조현우 / H.Jo</div></td>
<td class="asset-table-td">IRP-017</td>
<td class="asset-table-td">2020</td>
<td class="asset-table-td">2026-01-21 10:15</td>
</tr>
<tr>
<td class="asset-table-td"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox" aria-label="선택" /><span class="custom-checkbox-box"></span></label></td>
<td class="asset-table-td">18</td>
<td class="asset-table-td">DESKTOP-0018</td>
<td class="asset-table-td">193.186.4.149</td>
<td class="asset-table-td"><span class="asset-os-cell"><img src="img/window_logo.png" alt="" class="asset-os-icon" />Window</span></td>
<td class="asset-table-td">11 Pro</td>
<td class="asset-table-td">Yes</td>
<td class="asset-table-td"><span class="region-badge region-badge-domestic">국내</span></td>
<td class="asset-table-td">수원사업장</td>
<td class="asset-table-td">-</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="인프라팀 / 신동혁 / D.Shin">인프라팀 / 신동혁 / D.Shin</div></td>
<td class="asset-table-td">HQ-3F</td>
<td class="asset-table-td">ERP</td>
<td class="asset-table-td">개발</td>
<td class="asset-table-td asset-table-td-clamp"><div class="line-clamp-2 asset-tooltip-cell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-primary-tooltip" title="인프라팀 / 신동혁 / D.Shin">인프라팀 / 신동혁 / D.Shin</div></td>
<td class="asset-table-td">IRP-018</td>
<td class="asset-table-td">2024</td>
<td class="asset-table-td">2026-01-20 13:40</td>
</tr>
</tbody></table>
