<table><tbody>

  <!-- 행 1 -->
  <tr class="cr-tr ct-tr">
    <td class="asset-table-td ct-td-cb"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox ct-row-check" aria-label="행 선택" /><span class="custom-checkbox-box"></span></label></td>
    <td class="asset-table-td ct-td-no">1</td>
    <td class="asset-table-td ct-td-name"><button class="cr-name-link btn btn-link p-0" data-srv="bminui-macbookair.local" data-ip="193.186.4.132" data-os="Window" data-os-ver="11 Pro" data-date="2025-12-26 13:48:12">bminui-macbookair.local</button></td>
    <td class="asset-table-td ct-td-ip">193.186.4.132</td>
    <td class="asset-table-td ct-td-os"><img src="img/os-windows.png" alt="" class="ct-os-icon" width="18" height="18" onerror="this.style.display='none'" /><span>Window</span></td>
    <td class="asset-table-td ct-td-osver">11 Pro</td>
    <td class="asset-table-td ct-td-result"><span class="cr-pf-label cr-pf-pass">Pass</span></td>
    <td class="asset-table-td"><span class="ct-region-badge ct-region-domestic">국내</span></td>
    <td class="asset-table-td ct-td-site">수원사업장</td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-total">176</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-pass">142</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-fail">28</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-interview">6</span></td>
  </tr>

  <!-- 행 2 -->
  <tr class="cr-tr ct-tr">
    <td class="asset-table-td ct-td-cb"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox ct-row-check" aria-label="행 선택" /><span class="custom-checkbox-box"></span></label></td>
    <td class="asset-table-td ct-td-no">2</td>
    <td class="asset-table-td ct-td-name"><button class="cr-name-link btn btn-link p-0" data-srv="DESKTOP-235O9J1" data-ip="193.186.4.133" data-os="Window" data-os-ver="11 Pro" data-date="2025-12-26 14:02:35">DESKTOP-235O9J1</button></td>
    <td class="asset-table-td ct-td-ip">193.186.4.133</td>
    <td class="asset-table-td ct-td-os"><img src="img/os-windows.png" alt="" class="ct-os-icon" width="18" height="18" onerror="this.style.display='none'" /><span>Window</span></td>
    <td class="asset-table-td ct-td-osver">11 Pro</td>
    <td class="asset-table-td ct-td-result"><span class="cr-pf-label cr-pf-fail">Fail</span></td>
    <td class="asset-table-td"><span class="ct-region-badge ct-region-domestic">국내</span></td>
    <td class="asset-table-td ct-td-site">수원사업장</td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
  </tr>

  <!-- 행 3 -->
  <tr class="cr-tr ct-tr">
    <td class="asset-table-td ct-td-cb"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox ct-row-check" aria-label="행 선택" /><span class="custom-checkbox-box"></span></label></td>
    <td class="asset-table-td ct-td-no">3</td>
    <td class="asset-table-td ct-td-name"><button class="cr-name-link btn btn-link p-0" data-srv="SEEMOON-L13" data-ip="193.186.4.134" data-os="Window" data-os-ver="11 Pro" data-date="2025-12-26 14:15:07">SEEMOON-L13</button></td>
    <td class="asset-table-td ct-td-ip">193.186.4.134</td>
    <td class="asset-table-td ct-td-os"><img src="img/os-windows.png" alt="" class="ct-os-icon" width="18" height="18" onerror="this.style.display='none'" /><span>Window</span></td>
    <td class="asset-table-td ct-td-osver">11 Pro</td>
    <td class="asset-table-td ct-td-result"><span class="cr-pf-label cr-pf-fail">Fail</span></td>
    <td class="asset-table-td"><span class="ct-region-badge ct-region-domestic">국내</span></td>
    <td class="asset-table-td ct-td-site">수원사업장</td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
  </tr>

  <!-- 행 4 -->
  <tr class="cr-tr ct-tr">
    <td class="asset-table-td ct-td-cb"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox ct-row-check" aria-label="행 선택" /><span class="custom-checkbox-box"></span></label></td>
    <td class="asset-table-td ct-td-no">4</td>
    <td class="asset-table-td ct-td-name"><button class="cr-name-link btn btn-link p-0" data-srv="seemoon-virtual-machine" data-ip="193.186.4.135" data-os="Window" data-os-ver="10 Pro" data-date="2025-12-26 13:48:12">seemoon-virtual-machine</button></td>
    <td class="asset-table-td ct-td-ip">193.186.4.135</td>
    <td class="asset-table-td ct-td-os"><img src="img/os-windows.png" alt="" class="ct-os-icon" width="18" height="18" onerror="this.style.display='none'" /><span>Window</span></td>
    <td class="asset-table-td ct-td-osver">10 Pro</td>
    <td class="asset-table-td ct-td-result"><span class="cr-pf-label cr-pf-pass">Pass</span></td>
    <td class="asset-table-td"><span class="ct-region-badge ct-region-overseas">해외</span></td>
    <td class="asset-table-td ct-td-site">중남미</td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-total">162</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-pass">128</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-fail">30</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-interview">4</span></td>
  </tr>

  <!-- 행 5 -->
  <tr class="cr-tr ct-tr">
    <td class="asset-table-td ct-td-cb"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox ct-row-check" aria-label="행 선택" /><span class="custom-checkbox-box"></span></label></td>
    <td class="asset-table-td ct-td-no">5</td>
    <td class="asset-table-td ct-td-name"><button class="cr-name-link btn btn-link p-0" data-srv="DESKTOP-235O9J5" data-ip="193.186.4.134" data-os="Linux" data-os-ver="RedHat 1.0.2" data-date="2025-12-26 14:30:00">DESKTOP-235O9J5</button></td>
    <td class="asset-table-td ct-td-ip">193.186.4.134</td>
    <td class="asset-table-td ct-td-os"><img src="img/os-linux.png" alt="Linux" class="ct-os-icon" onerror="this.style.display='none'" /><span>Linux</span></td>
    <td class="asset-table-td ct-td-osver">RedHat 1.0.2</td>
    <td class="asset-table-td ct-td-result"><span class="cr-pf-label cr-pf-pass">Pass</span></td>
    <td class="asset-table-td"><span class="ct-region-badge ct-region-domestic">국내</span></td>
    <td class="asset-table-td ct-td-site">구미사업장</td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-total">153</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-pass">140</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-fail">11</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-interview">2</span></td>
  </tr>

  <!-- 행 6 -->
  <tr class="cr-tr ct-tr">
    <td class="asset-table-td ct-td-cb"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox ct-row-check" aria-label="행 선택" /><span class="custom-checkbox-box"></span></label></td>
    <td class="asset-table-td ct-td-no">6</td>
    <td class="asset-table-td ct-td-name"><button class="cr-name-link btn btn-link p-0" data-srv="DESKTOP-2351" data-ip="193.186.4.135" data-os="Linux" data-os-ver="Ubuntu 2.3" data-date="2025-12-26 14:45:18">DESKTOP-2351</button></td>
    <td class="asset-table-td ct-td-ip">193.186.4.135</td>
    <td class="asset-table-td ct-td-os"><img src="img/os-linux.png" alt="Linux" class="ct-os-icon" onerror="this.style.display='none'" /><span>Linux</span></td>
    <td class="asset-table-td ct-td-osver">Ubuntu 2.3</td>
    <td class="asset-table-td ct-td-result"><span class="cr-pf-label cr-pf-failps">Fail-PS</span></td>
    <td class="asset-table-td"><span class="ct-region-badge ct-region-overseas">해외</span></td>
    <td class="asset-table-td ct-td-site">중동</td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-empty">-</span></td>
  </tr>

  <!-- 행 7 -->
  <tr class="cr-tr ct-tr">
    <td class="asset-table-td ct-td-cb"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox ct-row-check" aria-label="행 선택" /><span class="custom-checkbox-box"></span></label></td>
    <td class="asset-table-td ct-td-no">7</td>
    <td class="asset-table-td ct-td-name"><button class="cr-name-link btn btn-link p-0" data-srv="seemoon-virtual-machine-02" data-ip="193.186.4.136" data-os="Solaris" data-os-ver="11.4" data-date="2025-12-26 15:00:00">seemoon-virtual-machine-02</button></td>
    <td class="asset-table-td ct-td-ip">193.186.4.136</td>
    <td class="asset-table-td ct-td-os"><img src="img/os-oracle.png" alt="Solaris" class="ct-os-icon" onerror="this.style.display='none'" /><span>Solaris</span></td>
    <td class="asset-table-td ct-td-osver">11.4</td>
    <td class="asset-table-td ct-td-result"><span class="cr-pf-label cr-pf-pass">Pass</span></td>
    <td class="asset-table-td"><span class="ct-region-badge ct-region-domestic">국내</span></td>
    <td class="asset-table-td ct-td-site">구미사업장</td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-total">145</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-pass">130</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-fail">12</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-interview">3</span></td>
  </tr>

  <!-- 행 8 -->
  <tr class="cr-tr ct-tr">
    <td class="asset-table-td ct-td-cb"><label class="custom-checkbox-wrap"><input type="checkbox" class="custom-checkbox ct-row-check" aria-label="행 선택" /><span class="custom-checkbox-box"></span></label></td>
    <td class="asset-table-td ct-td-no">8</td>
    <td class="asset-table-td ct-td-name"><button class="cr-name-link btn btn-link p-0" data-srv="bminui-macbookair.local02" data-ip="193.186.4.135" data-os="AIX" data-os-ver="AIX 7.3 TL2" data-date="2025-12-26 15:20:11">bminui-macbookair.local02</button></td>
    <td class="asset-table-td ct-td-ip">193.186.4.135</td>
    <td class="asset-table-td ct-td-os"><img src="img/os-aix.png" alt="AIX" class="ct-os-icon" onerror="this.style.display='none'" /><span>AIX</span></td>
    <td class="asset-table-td ct-td-osver">AIX 7.3 TL2</td>
    <td class="asset-table-td ct-td-result"><span class="cr-pf-label cr-pf-pass">Pass</span></td>
    <td class="asset-table-td"><span class="ct-region-badge ct-region-overseas">해외</span></td>
    <td class="asset-table-td ct-td-site">동남아</td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-total">138</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-pass">118</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-fail">15</span></td>
    <td class="asset-table-td ct-td-badge"><span class="cr-nbadge cr-nb-interview">5</span></td>
  </tr>

</tbody></table>
